// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing_title {
  padding-top: 200px;
}

.landing {
        background: url('https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg')
 no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 100vh;    
}

https://www.dropbox.com/s/phrqfxef0c4x69x/river1.jpg?dl=0

.navbar {
  margin-bottom: 0px;
}

.btn-landing {
  font-size: 23px;
}


